body {
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

#produtos {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
}